<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/Resources/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        @Html.Partial("_NavBar")
        <div class="row" style="height:50px"></div>
        @RenderBody()
        <script src="~/Resources/js/jquery-2.1.4.js"></script>
        <script src="~/Resources/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    </body>
</html>